body {
    font-family: 'Open Sans', sans-serif;
}

/* nav relaed styles */
.header {
    background: #FFF8F3;
    padding-left: 80px;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    padding-top: 40px;

}

.text-primary {
    color: #FD6E0A;

}

.btn-primary {
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;

    border-radius: 5px;

}

.nav-title {
    color: #181818;
    font-size: 35px;
    font-weight: 800;
    margin-left: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* banners related styles */
.banner {
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
}



.gretting {
    font-size: 30px;
    font-weight: bold;
}



.user-name {
    font-size: 33px;
    font-weight: bold;
}

.btn-download {
    background-color: #FD6E0A;
    color: #FFF8F3;
    border-radius: 5px;
    padding: 8px 12px;
}

.btn-contact {
    background-color: #FD6E0A;
    color: #FFF8F3;
    border-radius: 5px;
    padding: 8px 12px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 100px;
}

/* about me section */
.about {
    background: #FFF8F3;
    padding: 100px;
    border-radius: 10px;
}

.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about-info {
    text-align: center;
}

/* What do i do section */
.section-title {
    text-align: center;
    color: var(--Dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 100px;
}

.skill-container {
    display: flex;
    gap: 20px;
}

.skill {
    margin-top: 80px;
    border-radius: 5px;
    background: #fff9ff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 33px;
}

.skill-description {
    color: #757575;
}



/* Resume section */
.resume-title {
    text-align: center;
    color: var(--Dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 70px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-title {
    color: var(--Dark-02, #474747);
    font-size: 25px;
    font-weight: 700;
}
.resume-container hr{
    margin: 30px;
}
.resume-item-institute{
    margin-bottom: 10px;
    margin-top: 0px;
}

.resume-item-institute,
.resume-item-description {
    color: #757575;
}



.download-cv{
    text-align: center;
    margin-top: 50px;
}


/* Footer section */
footer{
    display: flex;
    background: #FFF8F3;
    margin-top: 100px;
}

.social-links a{
    padding-top: 50px;
    padding-left: 100px;
    

}
.footer-column{
    width: 50%;
}

.contact input[type="text"],input[type="email"],textarea{
    display: block;
    margin-bottom: 15px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
    font-size: 18px;
}
#submit-btn{
    font-size: 18px;
    padding: 15px 32px;
    margin-right: 350px;
}


















/* responsive in portfolio */

/* header section */
@media screen and (max-width: 576px) {
    
}